# Conceptual content needs the review of the engineering team.
msal-dotnet-articles/*    @MicrosoftDocs/identity-sdk-cca-engineering-team

# Any infra changes require PM owner sign-off.
.github/*                 @localden