# Any repo changes beyond docs require PM owner approval.
*                         @localden @jmprieur

# Conceptual and API content needs the review of the engineering team.
dotnet/*                  @MicrosoftDocs/identity-sdk-cca-engineering-team
msal-dotnet-articles/*    @MicrosoftDocs/identity-sdk-cca-engineering-team