# Conceptual and API content needs the review of the engineering team.
msal-dotnet-articles/*    @MicrosoftDocs/identity-sdk-cca-engineering-team

# API documentation does not have code owners, but that is OK.
# Anyone can create a PR to the `main` branch and we will review
# the changes on the one-off basis.
dotnet/
